body{
  background-color: aqua;
}

input{
  font-size: 20px;
  width: 200px;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  color: white;
  border-bottom: 1px solid white;
}

.divider{
  width: 80vw !important;
  margin-left: 4rem; 
  text-align: center;
  height: 1px;
  background-color: rgb(224, 224, 224);
}

.carousel{
  position: absolute;
  z-index: -1000;
}

.carousel-inner img{
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat:repeat-y;
}



.carousel-item:after {
  content:"";
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.5);
}

#frontpage{
  z-index: 10;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}